/* style du fond de toute l'application */

.loading {
  background-color: #FFE773;
}


/* style appliqué au loader qui s'affiche quand les composants ne sont pas encore chargés */
.loader {
     width: 200px;  
     position: absolute;
     top: 49%;
     left: 50%;
     transform: translate(-50%, -50%);
     animation: rotation 1s infinite linear ;
}

/* caractéristiques de l'animation du loader */
@keyframes rotation {
     from {
       transform:
       translate(-50%, -50%) rotate(0deg);
     }
     to {
       transform:
       translate(-50%, -50%) rotate(359deg);
     }
   }
