/* le syle de la page de messages */

.messageLayout {
     display: flex;
     background-color: white;
     min-height: 100vh;
     background-color: rgba(0, 0, 0, 0);
}

.messageRow {
     display: flex;
     justify-content: center;
     margin-top: 4%;
}

.endDiv {
     height: 50px;
}

.mainFrameChat {
     display: flex;
     flex-direction: column;
     width: 900px;
     height: 615px;
     align-items: center;
     background-image: url('../images/background-metal.jpg');
     background-repeat: repeat;
     border-left: solid 4px rgba(231, 229, 205, 0.8);
     border-top: solid 4px rgba(231, 229, 205, 0.8);
     border-right: solid 4px rgba(107, 101, 44, 0.1);
     border-bottom: solid 4px rgba(107, 101, 44, 0.2);
     border-radius: 6px;
     padding: 10px;
     margin: 1px;
     box-shadow: 6px 6px 6px rgb(78, 78, 78, 0.5);
}

.titleMessage {
     font-family: barber;
}

.techPart {
     display: flex;
     position: relative;
     top: -8px;
     flex-direction: row;
     width: 100%;
     height: 532px;
}

.leftPanelChat {
     /* width: 370px; */
     width: 333px;
     height: 100%;
     overflow-y: scroll;
     overflow-x: hidden;
     background-color: rgba(221, 221, 221, 0.6);
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
}

.verticalSpaceChat {
     width: 4px;
     height: 100%;
     background-color: rgb(0, 0, 0, 0);
}

.containerDiscussion {
     display: flex;
     flex-direction: column;
     width: 250px;
     background-color: white;
     padding-top: 2px;
     padding-bottom: 2px;
     padding-right: 5px;
     padding-left: 5px;
     margin-top: 1px;
     margin-bottom: 1px;
     background-color: rgb(170, 170, 170);
     border-radius: 6px;
}

.containerDiscussionSelected {
     display: flex;
     flex-direction: column;
     width: 250px;
     background-color: white;
     padding-top: 2px;
     padding-bottom: 2px;
     padding-right: 5px;
     padding-left: 5px;
     margin-top: 1px;
     margin-bottom: 1px;
     background-color: rgb(61, 78, 114);
     border-radius: 6px;
}

#hover:hover {
     background-color: rgb(151, 151, 151)
}

.eachDiscussion {
     display: flex;
     flex-direction: row;
     align-items: center;
     border-right: 2px;
     border-left: 2px;
}

.presentationDataMsg {
     display: flex;
     flex-direction: column;
     padding-left: 5px;
}

.presentationDataSecond {
     display: flex;
     flex-direction: row;
     padding-top: 5px;
}

.rightWindowChat {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     align-content: flex-end;
}

.chatBox {
     position: relative;
     overflow-y: scroll;
     overflow-x: hidden;
     transform: rotate(180deg);
     width: 100%;
     height: 100%;
     padding-left: 6px;
     padding-right: 6px;
     background-color: rgba(255, 255, 255, 0.6);
     border-top-right-radius: 3px;
     direction: rtl;
}

.informativeMessages {
     transform: rotate(180deg);
}

.messagesWrapper {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column-reverse;
     flex-direction: column-reverse;
     -webkit-box-pack: end;
     -ms-flex-pack: end;
     justify-content: flex-end;
}

.message {
     width: -webkit-fit-content;
     width: -moz-fit-content;
     width: fit-content;
     position: relative;
     word-break: break-all;
     transform: rotate(180deg);
     direction: ltr;
}

.myMessageWrapper {
     display: flex;
     justify-content: flex-end;
     width: 600px;
}

.hisMessageWrapper {
     display: flex;
     width: 100%;
}

.myMessage {
     right: 0px;
     max-width: 80%;
     text-align: right;
     background-color: rgb(61, 78, 114);
     color: white;
     border-radius: 10px;
     padding: 2px 10px 3px 10px;
     border-right: 2px solid rgb(0, 0, 0, 0.2);
     border-bottom: 2px solid rgb(0, 0, 0, 0.2);
}

.hisMessage {
     text-align: left;
     background-color: rgb(220, 227, 221);
     border-radius: 10px;
     padding: 2px 10px 3px 10px;
     border-right: 2px solid rgb(0, 0, 0, 0.4);
     border-bottom: 2px solid rgb(0, 0, 0, 0.4);
}

.horizontalSpaceChat {
     width: 100%;
     height: 3px;
     background-color: rgb(0, 0, 0, 0);
}

.inputMessage {
     display: block;
     position: -webkit-sticky;
     position: sticky;
     right: 0px;
     width: 100%;
     align-items: right;
     background-color: rgba(17, 190, 196, 0);
}

.formChat {
     position: absolute;
     position: sticky;
     right: 20px;
     align-items: right;
}

.layerButton {
     position: absolute;
     right: 0px;
     width: 100px;
     justify-content: right;
}

.trashBt {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
     background-color: white;
     margin-top: 1px;
     margin-bottom: 1px;
     background-color: rgba(255, 255, 255, 0.6)
}

/* .noMessage {
     display: flex;
     width: 100%;
     height: 100%;
     padding-bottom: 180px;
     justify-content: center;
     align-items: center;
     color: red;
     font-weight: bold;
} */

.problemNotif {
     display: flex;
     width: 100%;
     height: 100%;
     margin-bottom: 20px;
     justify-content: center;
     align-items: center;
     color: red;
     font-weight: bold;
}

/* sur les écrans étroit le style est redéfini*/

@media (max-width: 1250px) {
     .footer {
          display: flex;
          position: absolute;
          bottom: 0%;
          left: 50%;
          transform: translate(-52px);
     }
}

@media (max-width: 1010px) {
     .mainFrameChat {
          width: 500px;
     }
     .leftPanelChat {
          width: 62px;
     }
     .containerDiscussion {
          width: 60px;
     }
     .containerDiscussionSelected {
          width: 250px;
     }
     .presentationDataMsg {
          display: none;
     }
     .myMessageWrapper {
          width: 400px;
     }
}

@media (min-width: 721px) {
     .imgCapsuleDiscussion:hover {
          position: absolute;
          transform: scale(2.5) translate(13px, -14px);
     }
}

@media (max-width: 720px) {
     .titleMessage {
          font-size: 28px !important;
     }
     .mainFrameChat {
          width: 350px;
          height: 585px;
          padding: 5px 2px 5px 2px;
          margin: 1px;
     }
     .leftPanelChat {
          width: 40px;
     }
     .containerDiscussion {
          width: 40px;
     }
     .containerDiscussionSelected {
          width: 150px;
     }
     .presentationDataMsg {
          display: none;
     }
     .myMessageWrapper {
          width: 280px;
     }
     .imgCapsuleDiscussion {
          width: 30px;
     }

     .messageRow {
          margin-top: 0.5%;
     }
     
}